@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap');
*{
    box-sizing: border-box;
}
.header{
    height: 80px;
    background-color: #1d2126;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;
}
.menu a{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #a4aead;
    height: 30px;
    padding: 12px 10px;
    border: #1d2126 2px solid;
}
.menu a:hover{
    border: #a4aead 2px solid;
    border-radius: 4px;
}
.menu a:first-child {
    border: solid 2px #23b7a4;
    border-radius: 4px;
    color: #23b7a4;
}
.header-form-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}
.header-form-search input{
    background-color: transparent;
    border: #a4aead 2px solid;
    border-radius: 4px;
    height: 30px;
    width: 195px;
    padding: 0px 50px 0px 5px;
    color: #a4aead;
}
.header-form-search input:focus{
    outline: none;
}
.btn-search{
    position: relative;
    left: -40px;
    height: 30px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url(images/search.png);
    background-position: center;
    background-repeat: no-repeat;
}
::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: #a4aead;
    padding-left: 10px;
}
.slider{
    display: flex;
    flex-wrap: wrap;
    height: 660px;
    background-image: url(images/slider-image-2.png);
}
.slider-text{
    display: flex;
    align-items: center;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    width: 1000px;
    color: white;
    text-transform: uppercase;
}
.slider-p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ccd0d7;
    align-self: center;
}






@media(min-width:320px) and (max-width:768px){
    .header{
        display: flex;
        flex-wrap: wrap;
    }
    .header-form-search{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-self: end;
        z-index: 10;
    }
}