@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap');

// Mobile 

*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    position: sticky;
    top: 0;
    background-color: #1d2126;
    height: 80px;
    line-height: 80px;
    z-index: 10;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu li a{
    padding: 8px 11px;
}
.menu li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
    border: #1d2126 2px solid;
}
.menu li a:hover{
    border: #a4aead solid 2px;
    border-radius: 4px;
}
.menu li a:active{
    border: #23b7a4 solid 2px;
    color: #23b7a4;
}
.search{
    max-width: 171px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
    background-color: transparent;
    border: #a4aead 2px solid;
    border-radius: 4px;
    color: #a4aead;
    padding-right: 50px;
}
.search:focus{
    outline: none;
}
::placeholder{
    padding-left: 10px;
}

.btn-search{
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(images/search.png);
    background-position: center;
    position: relative;
    left: -40px;
    top: 3px;
    border: none;
}

// Slider //

.slider-h1{
    position: absolute;
    top: 200px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: white;
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.slider-p{
    position: absolute;
    top: 250px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
}
.slider-btn{
    position: absolute;
    top: 265px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    width: 124px;
    height: 44px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 45px;
    cursor: pointer;
}
.btn-video-tour{
    margin-left: 140px;
}
.slider-btn:hover{
    background-color: #23b7a4;
    border: #23b7a4 2px solid;
}
.slides{
    width: 100%;
}
.slick-dots{
    padding: 0 0 25px 50%;
}
.slick-dots li{
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: white 3px solid;
    border-radius: 50%;
}
li.slick-active{
    background-color: rgba(255, 255, 255, 0.75);
}
.slick-dots li button:before{
    display: none;
}
.section-h1-container{
    display: flex;
    align-items: center;
    height: 175px;
    gap: 12px;
}
.section-h1-square{
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;

}
.section-h1{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    color: black;
    text-transform: uppercase;
}
.modest-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a4aead;
    margin-bottom: 40px;
    text-align: justify;
}
.modest-bold-text{
    font-weight: bold;
    color: #8d8f92;
}
.social-links{
    display: flex;
    gap: 1px;
    margin-top: 55px;
}
.social-img{
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    cursor: pointer;
}
.social-img:first-child:hover{
    background-color: #1877f2;
}
.social-img:nth-child(2):hover{
    background-color: #44bdec;
}
.social-img:nth-child(3):hover{
    background-color: #d34d41;
}
.social-img:nth-child(4):hover{
    background-color: #e84c88;
}
.social-img:last-child:hover{
    background-color: #1377ff;
}
.modest-right-container{
    display: flex;
    gap: 15px;
    height: 88px;
    margin-bottom: 30px;
}
.green-square{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #49d2bc;
    color: white;    
}
.modest-right-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #8d8f92;
}
.modest-right-text-title{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    color: #1d2126;
    font-weight: bold;
    text-transform: uppercase;
}

// Meet the team

.meet-the-team-section{
    display: flex;
    justify-content: center;
    border-top: #a4aead 1px solid;
}
.team-member{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.team-member-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a4aead;
    height: 74px;
    background-color: #e1e6ea;
    padding: 20px;
    line-height: 20px;
    margin-top: -4px;
}

.team-member-name{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    color: #1d2126;
    font-weight: bold;
    text-transform: uppercase;
}
.team-social{
    display: flex;
    gap: 1px;
    position: relative;
    top: -250px;
    left: 55px;
    visibility: hidden;
}
.team-social-img{
    background-color: #3a454d;
}
.team-img{
    display: block;
    position: relative;
}
.team-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
}

.team-social-img:hover{
    background-color: #56656f;
}
.team-member:hover{
    .team-member-info{
        background-color: #3a454d;
        color: white;
    }
    .team-member-name{
        color: white;
    }
    .team-social{
        visibility: visible;
    }
    .team-img-overlay{
        visibility: visible;
    }
}

// Lovely work section

.lovely-work-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #3a454d;
}
.lovely-work-h1-square{
    width: 10px;
    height: 35px;
    background-color: #4e5a62;
}
.lovely-work-section-h1{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    padding-top: 8px;
    text-transform: uppercase;
    color: white;
}
.lovely-work-item{
    height: 295px;
}
.lovely-img{
    display: block;
    position: relative;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.plus{
    background-image: url(images/plus.png);
    width: 50px;
    height: 50px;
    position: relative;
    top: -180px;
    left: 150px;
    visibility: hidden;
}
.partnership-guidlines{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: #292f36;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    position: relative;
    top: -110px;
    visibility: hidden;
}
.lovely-work-item:hover{
    cursor: pointer;
    .plus{
        visibility: visible;
    }
    .partnership-guidlines{
        visibility: visible;
    }
    .img-overlay{
        visibility: visible;
    }
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}
.btn-show-me-more{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 5px;
    width: 150px;
    height: 44px;
}
.btn-show-me-more:hover{
    background-color: rgba(255, 255, 255, 0.200);
    cursor: pointer;
}

// What we do section

.what-we-do-item{
    text-align: center;
    height: 300px;
}
.we-do-item-title{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
}
.we-do-item-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a4aead;
    height: 80px;
    line-height: 25px;
}

// Features section

.features-title{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    height: 90px;
    line-height: 90px;
}
.features-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a4aead;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 125px;
}

// Contact information section

.contact-information-h2{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    height: 115px;
    line-height: 115px;
}
.contact-information-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a4aead;
    margin-bottom: 30px;
}
.contact{
    height: 200px;
}

// Modal

.modal-container{
    position: relative;
    top: -250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    background-color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #8d8f92;
}

.modal-name{
    margin-top: 30px;
    margin-right: 15px;
}
.modal-name input{
    width: 240px;
    height: 40px;
    margin-top: 10px;
}
.modal-email{
    margin-top: 30px;
}
.modal-email input{
    width: 240px;
    height: 40px;
}
.modal-input{
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.modal-input:focus{
    outline: none;
}
.modal-message{
    height: 250px;
}
textarea{
    resize: none;
}
.modal-btn{
    width: 150px;
    height: 44px;
    margin-top: 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #23b7a4;
    border: none;
    border-radius: 3px;
}

// footer

.footer{
    height: 95px;
    background-color: #3a454d;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.footer-row{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer a img{
    width: 36px;
    height: 36px;
}



.col-xs-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-xs-2{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10{
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11{
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}

// tablet >> sm 768px

@media(min-width:768px) and (max-width: 991px) {
    .container{
        max-width: 720px;
    }
    .col-sm-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header{
        height: 120px;
        position: unset;
    }
    .logo{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    .hidden-xs{
        display: none;
    }
    .slider{
        display: flex;
        align-items: start;
        padding-top: 25px;
        background-position: center;
    }
    .social-links{
        margin-bottom: 30px;
    }
    .team-member-info{
        width: 264px;
    }
    .team-img-overlay{
        width: 264px;
    }
    .slides{
        height: 300px;
    }
}

// laptop >> md

@media(min-width:992px) {
    .container{
        max-width: 960px;
    }
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search{
        width: 135px;
    }
    .header{
        height: 80px;
    }
}

// desktop >> lg

@media(min-width:1200px) {
    .container{
        max-width: 1170px;
    }
    .col-lg-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search{
        width: 170px;
    }

}

// only mobile < 767px

@media(max-width:767px) {
    .hidden-xs{
        display: none;
    }
    .header{
        position: unset;
        height: 110px;
    }
    .menu{
        overflow-x: scroll;
        justify-content: unset;
    }
    .logo{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    .slider{
        display: flex;
        position: relative;
        align-items: start;
        padding-top: 20px;
        height: 0px;
        min-width: 0;
    }
    .slides{
        height: 200px;
    }
    .slider-h1{
        text-align: center;
        color: black;
        margin-top: -220px;
    }
    .slider-p{
        margin-top: -170px;
        text-align: center;
        color: black;
    }
    .slider-btn{
        color: black;
        border: black 1px solid;
        margin-top: -130px;
        width: 280px;
    }
    .btn-video-tour{
        margin-top: -60px;
        margin-left: 0px;
    }
    .section-h1-container{
        display: flex;
        justify-content: center;
        height: 70px;
    }
    .section-h1{
        font-size: 30px;
    }
    .we-are-modest{
        margin-top: 280px;
    }
    .modest-right-container{
        height: 120px;
    }
    .social-links{
        margin-bottom: 20px;
    }
    .team-img img{
        width: 100%;
    }
    .lovely-img img{
        width: 100%;
    }
    .team-member{
        margin: 0;
        height: 410px;
    }
    .lovely-work-item{
        height: 220px;
    }
    .what-we-do-item{
        height: 250px;
    }
    .features-img{
        width: 100%;
    }
    .features-text{
        margin-bottom: 10px;
    }
    .modal-name{
        margin: 0;
    }
    .modal-input{
        margin-bottom: 10px;
    }
    .text-area{
        width: 240px;
    }
    .modal-btn{
        margin: 10px 0px 15px 0px;
        width: 100%;
    }
    .footer-row{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}